@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.header h2 {
    color: #4A4A4A;
}

.button-color {
    color: #289BDE;
}